body {
    background-color: lightsteelblue;
    margin: 0;
    height: 100vh;
}

html {
    font-family: sans-serif;
}

header {
    background-color: white;
    padding: 0.5rem;
    border-bottom: 1px solid dimgray;
    box-shadow:
        0 1px 2px 0 rgba(0, 0, 0, 0.2),
        0 1px 15px 0 rgba(0, 0, 0, 0.19);
    top: 0;
    left: 0;
    width: 100vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
    color: steelblue;
}

#define {
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    padding: 0rem 1.5rem .5rem 1.5rem;
    background-color: white;
    border-radius: 8px;
    min-width: 50vw;
    box-sizing: border-box;
}

#p1 {
    font-size: 1.2em;
    color: darkgrey;
}

#p2 {
    font-size: 1.1em;
    color: darkgrey;
    font-style: italic;
}

#p3 {
    font-size: 1em;
}

#form input {
    width: 40vw;
    padding: 0.5em;
    margin: 0.8em;
}

#convertButton {
    border-radius: 100px;
}

.resultsContainer div {
    padding: 1em;
}

footer {
    background-color: white;
    font-size: 0.8em;
    color: steelblue;
    padding: 0.5rem;
}

footer a {
    text-decoration: none;
    color: steelblue
}

footer a:hover {
    color: lightsteelblue;
    cursor: pointer;
}